<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOOKLOG</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="accounts-grid">
        <div></div>

        <div class="accounts-container">

            <div class="accounts-box">
                {% block content %}
                {% endblock %}
            </div>

        </div>

        <div></div>
    </div>
</body>
</html>